<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>野菜ID</th>
        <th>野菜名</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% vegetables.each do |vegetable| %>
        <tr>
          <td><%= vegetable.vegetable_id %></td>
          <td><%= vegetable.vegetable_name %></td>
          <td>
            <%= link_to '削除', dashboard_vegetable_path(id: vegetable.vegetable_id), method: :delete, 
                data: { confirm: "本当に削除してもよろしいですか？", cancel: 'やめる', commit: '削除する'}, remote: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>