<% content_for(:title) do %>
  マスタ管理
<% end %>

<div class="container"">
  <ul class="nav nav-tabs" role="tablists">
    <li class="nav-item" role="tab" data-toggle="tab">
      <a href="#vegetable" class="nav-link active">野菜</a>
    </li>
    <li class="nav-item" role="tab" data-toggle="tab">
      <a href="#company" class="nav-link">企業</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="vegetable" class="tab-pane active show" role="tabpanel">
    aaaa
    </div>
    <div id="company" class="tab-pane" role="tabpanel">
    bbbb
    </div>
  </div>
</div>
